html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.history-slide {
  transition: opacity 1s ease-in-out !important;
  will-change: opacity;
}

@keyframes aspnsps-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes aspnsps-scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.aspnsps-animate-scroll {
  animation: aspnsps-scroll 28s linear infinite;
}

.aspnsps-animate-scroll-reverse {
  animation: aspnsps-scroll-reverse 28s linear infinite;
}
